<header th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="https://rtf.sfedu.ru/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <span class="fs-4">IRTSU CAS</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/authUser/profile">Профиль</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/IRTSU/elements">Компоненты IRTSU</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/admin/newUsersPage">Пользователи</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="support.html">Поддержка</a>
        </nav>

        <button id="logoutBtn" class="btn btn-danger">Выйти</button>

    </div>
</header>