<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link rel="stylesheet" th:href="@{/css/home-styles.css}">
  <!-- Подключение HTMX -->
  <script src="https://unpkg.com/htmx.org@1.7.0"></script>
</head>

<div class="components-container">
  <div class="header">
    <h1 class="logo">I Have</h1>
    <nav class="nav">
      <a class="nav-link" href="#">Components</a>
      <a class="nav-link" href="#">Order</a>
    </nav>
    <div class="user-info">
      <button class="notification-btn">
        <img src="notification-icon.png" alt="Notifications"/>
      </button>
      <div class="user-profile">
        <img src="user-avatar.png" alt="User Avatar"/>
        <span th:text = "${username}">Any User</span>
      </div>
    </div>
  </div>
  <main class="main-content">
    <div class="up-block">
      <div class="component-text">Components</div>

      <button class="add-component-btn">+ Add Component</button>
    </div>
    <button class="search-component-btn" id="search-btn">Search</button>
    <div class="filters">
      <input type="text" placeholder="Search components..."/>

      <!-- Выпадающий список для status -->
      <select id="status-select" hx-get="/properties/getStatus" hx-target="#status-select" hx-trigger="load">
        <option value="">Loading...</option>
      </select>

      <!-- Выпадающий список для Owner -->
      <select id="owner" hx-get="/properties/getOwners" hx-target="#owner" hx-trigger="load">
        <option value="">Loading...</option>
      </select>

      <!-- Выпадающий список для orderStatus -->
      <select id="orderStatus-select" hx-target="#orderStatus-select" hx-trigger="load">
        <option value="">In the owner</option>
        <option value="">Rented</option>
      </select>

      <!-- Выпадающий список для group -->
      <select id="group-select" hx-get="/properties/getGroups" hx-target="#group-select" hx-trigger="load">
        <option value="">Loading...</option>
      </select>

      <input type="date" value="2025-01-01"/>
    </div>

    <table class="components-table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Owner</th>
        <th>Order</th>
        <th>Group</th>
        <th>Description</th>
        <th>Documentation</th>
        <th>Data Add</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <!-- Здесь будут динамически добавляться строки -->
      </tbody>
    </table>

    <div class="pagination">
      <button>Previous</button>
      <button>1</button>
      <button>2</button>
      <button>Next</button>
    </div>
  </main>
</div>

<script>
  // 1. Проверка токена при загрузке страницы
  if (!localStorage.getItem("token") && window.location.pathname !== "/login") {
    window.location.href = "/login";
  }

  // 2. Автоматически добавляем JWT в HTMX-запросы
  document.addEventListener("htmx:configRequest", function(event) {
    let token = localStorage.getItem("token");
    if (token) {
      event.detail.headers['Authorization'] = 'Bearer ' + token;
    }
  });

  // 3. Если получаем 401, отправляем на страницу логина
  // document.addEventListener("htmx:responseError", function(event) {
  //   if (event.detail.xhr.status === 401) {
  //     localStorage.removeItem("token");
  //     window.location.href = "auth/login";
  //   }
  // });


  document.getElementById('search-btn').addEventListener('click', function() {
    // Собираем выбранные значения из всех фильтров
    //const name = document.querySelector('input[type="text"]').value; // Для поля поиска по имени
    const status = document.getElementById('status-select').value; // Для поля status
    const ownerName = document.getElementById('owner').value; // Для поля owner
    const orderStatus = document.getElementById('orderStatus-select').value; // Для поля orderStatus
    const group = document.getElementById('group-select').value; // Для поля group
    // const created = document.querySelector('input[type="date"]').value; // Для поля created

    // Формируем URL с параметрами запроса
    const url = `/details/filter?page=1&perPage=10&status=${encodeURIComponent(status)}&ownerName=${encodeURIComponent(ownerName)}&orderStatus=${encodeURIComponent(orderStatus)}&group=${encodeURIComponent(group)}}`;

    console.log(url)
    // Отправляем запрос с параметрами на сервер
    htmx.ajax('GET', url, {
      target: "#details-table tbody", // Место куда будет вставлен результат
      swap: 'innerHTML' // Обновляем содержимое тела таблицы
    });
  });
</script>


</html>
